
/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  line-height: 1.75;
  background-color: #fff;
  color: var(--text-color);
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

*:focus {
  outline: 3px dashed var(--outline-color);
  outline-offset: 3px;
}


/* BUTTON */
.button {
  display: inline-block;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: normal;
  color: #fff;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  text-decoration: none;
  white-space: nowrap;
}

/* MAIN-CONTENT */
.main-content {
  padding-left: 50px;
  padding-right: 50px;
  flex-grow: 1;
  height: 100%;
}
.open {
  display: block;
}



/* SITE-HEADER */
.site-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: royalblue;
}
.logo {
  width: 41px;
  height: 55px;
}

.sitenav {
}

.sitenav-link {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: color 0.3s ease;
}

.sitenav-link:hover {
  color: rgba(0, 0, 0, 0.8);
}

.button-menu, .button-close {
  display: none;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}

/* MAIN */
.contract-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* SITE-FOOTER */
.site-footer {
  padding: 10px;
  padding-left: 50px;
  padding-right: 50px;
  background-color: royalblue;
}
.about {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.contacts-heading {
  font-size: 28px;
}
.contacts-list {
  display: flex;
  align-items: center;
  list-style: none;
}
.contacts-item:not(:last-child) {
  margin-right: 10px;
}
.contacts-icon {
  width: 24px;
  height: 24px;
}


/* MEDIA-QUERY */
@media only screen and (max-width: 600px) {
  .site-header {
    position: relative;
    padding-left: 10px;
    padding-right: 10px;
  }

  .sitenav {
    display: none;
    width: 100%;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 30px;
    transform: translateY(100%);
    background-color: rgba(65, 105, 225, 0.9);
  }
  .sitenav.open {
    display: flex;
  }
  .button-menu {
    display: block;
  }
  .menu, .close {
    width: 36px;
    height: 36px;
  }
  .main-content {
    padding-left: 10px;
    padding-right: 10px;
  }
  .site-footer {
    padding-left: 10px;
    padding-right: 10px;
  }
  .contacts-heading {
    font-size: 18px;
  }
  .contacts-icon {
    width: 18px;
    height: 18px;
  }
}