<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Talaba kabineti-Admin</title>
    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/style.min.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.3.0/js/all.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
        <!-- Navbar Brand-->
        <a class="navbar-brand ps-3" href="home.html">KSPI Shartnomalar</a>
        <!-- Sidebar Toggle-->
        <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
        <!-- Navbar Search-->
        <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Qidirish..." aria-label="Qidirish..." aria-describedby="btnNavbarSearch" />
                <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
            </div>
        </form>
        <!-- Navbar-->
        <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="#!">Name Surname</a></li>
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="../index.html">Chiqish</a></li>
                </ul>
            </li>
        </ul>
    </nav>
    
    <div id="layoutSidenav">
        <div id="layoutSidenav_nav">
            <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
                <div class="sb-sidenav-menu">
                    <div class="info text-center mt-3 px-2">
                        <img class="rounded-circle mx-auto d-block img-fluid" src="img/account.png" alt="Admin picture">
                        <h5 class="mt-1">Name Surname</h5>
                    </div>
                    <div class="nav">
                        <div class="sb-sidenav-menu-heading">Core</div>
                        <a class="nav-link" href="index.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                            Dashboard
                        </a>
                        
                        <div class="sb-sidenav-menu-heading">Qo'shimcha</div>
                        <a class="nav-link" href="tables.html">
                            <div class="sb-nav-link-icon"><i class="fas fa-table"></i></div>
                            Talaba kabineti
                        </a>
                    </div>
                </div>
            </nav>
        </div>
        
        
        <!-- TALABA MA'LUMOTLARI -->
        <div id="layoutSidenav_content">
            <div class="main-content">
                <div class="container">
                    <div class="row profil-top mt-2 align-items-center">
                        <div class="col-md-3 img-wrapper px-5">
                            <img class="profil-img" src="../img/account.png" alt="Account picture" width="160">
                        </div>
                        <div class="col-md-9 px-0">
                            <h3 class="profil-top-title">Name Surname MiddleName</h3>
                            <div class="student-id"><strong>ID: </strong>000000000</div>
                        </div>
                    </div>                       
                    
                    <!-- Talaba Kabineti -->
                    <div class="profil-bottom px-1">
                        <h2 class="profil-heading text-center my-4">Talaba kabineti</h2>
                        <div class="row d-flex justify-content-between">
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Telefon raqam</b></div>
                                <div class="profil-info-item-item px-0 py-2">+998900000000</div>
                            </div>
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Tug'ilgan kun</b></div>
                                <div class="profil-info-item-item px-0 py-2">mm/dd/yyyy</div>
                            </div>
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Jins</b></div>
                                <div class="profil-info-item-item px-0 py-2">Erkak</div>
                            </div>
                        </div>
                        
                        <div class="row d-flex justify-content-between">
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Viloyat</b></div>
                                <div class="profil-info-item-item px-0 py-2">Farg'ona</div>
                            </div>
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Tuman</b></div>
                                <div class="profil-info-item-item px-0 py-2">Bag'dod</div>
                            </div>
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Qishloq</b></div>
                                <div class="profil-info-item-item px-0 py-2">Qishloq, ko'cha</div>
                            </div>
                        </div>
                        
                        <div class="row d-flex justify-content-between">
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Fakultet</b></div>
                                <div class="profil-info-item-item px-0 py-2">Matematika va informatika</div>
                            </div>
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Yo'nalish</b></div>
                                <div class="profil-info-item-item px-0 py-2">Matematika</div>
                            </div>
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Guruh</b></div>
                                <div class="profil-info-item-item px-0 py-2">G1-23</div>
                            </div>
                            <!-- ITEM -->
                            <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Ta'lim shakli</b></div>
                                <div class="profil-info-item-item px-0 py-2">Kunduzgi/sirtqi</div>
                            </div>
                        </div>
                        
                        
                        
                        
                        <div class="amaliyot px-2">
                            <h4 class="amaliyot-subtitle text-center my-3">Amaliyot o'tash joyi haqida</h4>
                            <div class="row d-flex justify-content-between">
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Viloyat</b></div>
                                    <div class="profil-info-item-item px-0 py-2">Farg'ona</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Tuman</b></div>
                                    <div class="profil-info-item-item px-0 py-2">Bag'dod</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>MFY</b></div>
                                    <div class="profil-info-item-item px-0 py-2">Irg'oli</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Ko'cha va uy raqami</b></div>
                                    <div class="profil-info-item-item px-0 py-2">Mulkobod-8</div>
                                </div>
                                
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Muassasa nomi</b></div>
                                    <div class="profil-info-item-item px-0 py-2">Nomi</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Direktor ismi</b></div>
                                    <div class="profil-info-item-item px-0 py-2">Ism</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Telefon raqami</b></div>
                                    <div class="profil-info-item-item px-0 py-2">+998900000000</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Kursi</b></div>
                                    <div class="profil-info-item-item px-0 py-2">2-kurs</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Tashkilotdagi amaliyot rahbari</b></div>
                                    <div class="profil-info-item-item px-0 py-2">Palonchiev.D</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>OTMdagi amaliyot rahbari</b></div>
                                    <div class="profil-info-item-item px-0 py-2">Palonchiev.D</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Amaliyot turi</b></div>
                                    <div class="profil-info-item-item px-0 py-2">Malakaviy-o'quv amaliyoti</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Amaliyotning boshlanish sanasi</b></div>
                                    <div class="profil-info-item-item px-0 py-2">oy/kun/yil</div>
                                </div>
                                <!-- ITEM -->
                                <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                                    <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Amaliyotning tugash sanasi</b></div>
                                    <div class="profil-info-item-item px-0 py-2">oy/kun/yil</div>
                                </div>
                            </div>
        
                        </div>
                    </div>
                </div>
            </div>
            <footer class="py-4 bg-light mt-auto">
                <div class="container-fluid px-4">
                    <div class="d-flex align-items-center justify-content-between small">
                        <div class="text-muted">Copyright &copy; QDPI IT Park 2023</div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    <script src="js/scripts.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@7.1.2/dist/umd/simple-datatables.min.js" crossorigin="anonymous"></script>
    <script src="js/datatables-simple-demo.js"></script>
</body>
</html>
