<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- BOOTSTRAP-CSS -->
    <link rel="stylesheet" href="bootstrap-5.2.3-dist/css/bootstrap.min.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- STYLE-CSS -->
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/profil.css">
    <link rel="stylesheet" href="css/normalize.css">
    <title>Profil</title>
</head>
<body>
    <!-- Header section -->
    <header class="header">
        <nav class="navbar navbar-bg pt-4">
            <div class="container">
                <a class="navbar-brand row align-items-center" href="index.html">
                    <img src="img/kspi-logo.png" alt="Logo" class="logo-img col">
                    <div class="logo-title col">KSPI <br>Shartnomalar</div>
                </a>
                <div class="btn-group">
                    <button class="btn dropdown-toggle p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="account-img" src="img/account.png" alt="Account" width="48">
                        <span>Name</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">Name Surname</a></li>
                        <li><a class="dropdown-item" href="index.html">Chiqish <img src="img/logout.svg" alt="Chiqish" width="20"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    <div class="main-content">
        <div class="container">
            <div class="row profil-top">
                <div class="col-md-3 img-wrapper">
                    <img class="profil-img" src="img/account.png" alt="Account picture">
                </div>
                <div class="col-md-9">
                    <h3 class="profil-top-title">Name Surname MiddleName</h3>
                    <div class="student-id"><strong>ID: </strong>000000000</div>
                </div>
            </div>
            
            
            <!-- MENING KABINETIM -->
            <div class="profil-bottom px-1">
                <h2 class="profil-heading text-center my-4">Mening kabinetim</h2>
                <div class="row d-flex justify-content-between px-2">
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Telefon raqam</b></div>
                        <div class="profil-info-item-item px-0 py-2">+998900000000</div>
                    </div>
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Tug'ilgan kun</b></div>
                        <div class="profil-info-item-item px-0 py-2">mm/dd/yyyy</div>
                    </div>
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Jins</b></div>
                        <div class="profil-info-item-item px-0 py-2">Erkak</div>
                    </div>
                </div>
                
                <div class="row d-flex justify-content-between px-2">
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Viloyat</b></div>
                        <div class="profil-info-item-item px-0 py-2">Farg'ona</div>
                    </div>
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Tuman</b></div>
                        <div class="profil-info-item-item px-0 py-2">Bag'dod</div>
                    </div>
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Qishloq</b></div>
                        <div class="profil-info-item-item px-0 py-2">Qishloq, ko'cha</div>
                    </div>
                </div>
                
                <div class="row d-flex justify-content-between px-2">
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Fakultet</b></div>
                        <div class="profil-info-item-item px-0 py-2">Matematika va informatika</div>
                    </div>
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Yo'nalish</b></div>
                        <div class="profil-info-item-item px-0 py-2">Matematika</div>
                    </div>
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Guruh</b></div>
                        <div class="profil-info-item-item px-0 py-2">G1-23</div>
                    </div>
                    <!-- ITEM -->
                    <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                        <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Ta'lim shakli</b></div>
                        <div class="profil-info-item-item px-0 py-2">Kunduzgi/sirtqi</div>
                    </div>
                </div>
                
                
                <div class="container">
                    <!-- AMALIYOT -->
                    <div class="amaliyot">
                        <div class="d-flex flex-column flex-md-row justify-content-between text-center align-items-center border border-primary rounded-3 p-2 w-100">
                            <h5 class="amaliyot-text mb-0">
                                Amaliyot o'tash joyi haqidagi ma'lumotlarni o'zgartirish
                            </h5>
                            <a class="amaliyot-btn btn btn-primary" href="amaliyot.html">O'zgartirish</a>
                        </div>
        
                    </div>
                </div>
                

                <div class="amaliyot px-2">
                    <h4 class="amaliyot-subtitle text-center my-3">Amaliyot o'tash joyi haqida</h4>
                    <div class="row d-flex justify-content-between">
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Viloyat</b></div>
                            <div class="profil-info-item-item px-0 py-2">Farg'ona</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Tuman</b></div>
                            <div class="profil-info-item-item px-0 py-2">Bag'dod</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>MFY</b></div>
                            <div class="profil-info-item-item px-0 py-2">Irg'oli</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Ko'cha va uy raqami</b></div>
                            <div class="profil-info-item-item px-0 py-2">Mulkobod-8</div>
                        </div>
                        
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Muassasa nomi</b></div>
                            <div class="profil-info-item-item px-0 py-2">Nomi</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Direktor ismi</b></div>
                            <div class="profil-info-item-item px-0 py-2">Ism</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Telefon raqami</b></div>
                            <div class="profil-info-item-item px-0 py-2">+998900000000</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Kursi</b></div>
                            <div class="profil-info-item-item px-0 py-2">2-kurs</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Tashkilotdagi amaliyot rahbari</b></div>
                            <div class="profil-info-item-item px-0 py-2">Palonchiev.D</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>OTMdagi amaliyot rahbari</b></div>
                            <div class="profil-info-item-item px-0 py-2">Palonchiev.D</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Amaliyot turi</b></div>
                            <div class="profil-info-item-item px-0 py-2">Malakaviy-o'quv amaliyoti</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-3 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Amaliyotning boshlanish sanasi</b></div>
                            <div class="profil-info-item-item px-0 py-2">oy/kun/yil</div>
                        </div>
                        <!-- ITEM -->
                        <div class="profil-info-item position-relative border border-primary col-md-4 rounded-2 mb-3">
                            <div class="profil-info-item-title position-absolute top-0 translate-middle-y bg-white px-2"><b>Amaliyotning tugash sanasi</b></div>
                            <div class="profil-info-item-item px-0 py-2">oy/kun/yil</div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    
    
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-4 col-md-12">
                    <div class=" row logo mb-4">
                        <div class="col-2">
                            <span class="img-bg">
                                <img src="img/kspi-logo.png" alt="kspi logotip">
                            </span>
                        </div>
                        <h5 class="col-9">kspi.amaliyot.uz</h5>
                    </div>
                    <p>"Talabalarning o'quv amaliyoti uchun shartnoma olish axborot tizimi" dasturiy majmuasi</p>
                </div>
                <div class="col-lg-4 col-md-6 connect">
                    <h4>Bog'lanish</h4>
                    <p>Ishonch telefoni: +998(90) 567 12 75</p>
                    <p>Qo'qon shahar, Turon ko'chasi, 23-uy</p>
                    <a href="https://kspi.uz/">www.kspi.uz</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4>Bizning ijtimoiy tarmoqlar</h4>
                    <a href="https://www.facebook.com/kspi.uz.56" class="socials">
                        <i class="fa-brands fa-facebook"></i>
                        <p>Facebook</p>
                    </a>
                    <a href="https://t.me/kspi_official" class="socials">
                        <i class="fa-brands fa-telegram"></i>
                        <p>Telegram</p>
                    </a>
                    <a href="https://www.instagram.com/kspi_uz/" class="socials">
                        <i class="fa-brands fa-instagram"></i>
                        <p>Instagram</p>
                    </a>
                    <a href="https://www.youtube.com/channel/UC6ThR8cLnJmdWDGDz9PR85Q/featured" class="socials">
                        <i class="fa-brands fa-youtube"></i>
                        <p>YouTube</p>
                    </a>
                </div>
                
            </div>
        </div>
        <div class="by">
            <h5 class="col">2023 &#169 QDPI IT-park</h5>
        </div>
    </footer>
    
    
    <!-- BOOTSTRAP-JAVASCRIPT -->
    <script src="bootstrap-5.2.3-dist/js/bootstrap.bundle.min.js"></script>
    
    <script src="js/profil.js"></script>
</body>
</html>