<h2>sinov</h2>

<form method="post">
    {% csrf_token %}
    <input name="viloyat_a" type="text" placeholder="viloyat_a">
    <input name="tuman_a" type="text" placeholder="tuman_a">
    <input name="mfy_a" type="text" placeholder="mfy_a">
    <input name="kocha_uy_a" type="text" placeholder="kocha_uy_a">
    <input name="muassasa" type="text" placeholder="muassasa">
    <input name="d_ism" type="text" placeholder="d_ism">
    <input name="d_nomeri" type="text" placeholder="d_nomeri">
    <input name="kurs" type="text" placeholder="kurs">
    <input name="a_rahbari" type="text" placeholder="a_rahbari">
    <input name="o_a_rahbari" type="text" placeholder="o_a_rahbari">
    <input name="a_turi" type="text" placeholder="a_turi">
    <input name="b_sana" type="text" placeholder="b_sana">
    <input name="t_sana" type="text" placeholder="t_sana">

    <button type="submit">saqlash</button>

</form>