{% load static %}
<!DOCTYPE html>
<html lang="uz">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    

    <!-- BOOTSTRAP-CSS -->
    <link rel="stylesheet" href="{% static '/bootstrap/css/bootstrap.min.css' %}"> 
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <!-- STYLE-CSS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/css/style.css' %}"> 
    <link rel="stylesheet" href="{% static '/css/contract.css' %}"> 
    <link rel="stylesheet" href="{% static '/css/normalize.css' %}"> 
    
    <title>Amaliyot</title>
    <link rel="icon" type="image/x-icon" href="{% static '/img/kspi-logo.png' %}">
</head>
<body>
    {% if user.is_authenticated %} 
    <!-- Header section -->
    <header class="header">
        <nav class="navbar navbar-bg pt-4">
            <div class="container">
                <a class="navbar-brand row align-items-center" href="{% url 'home' %}">
                    <img src="{% static '/img/kspi-logo.png' %}" alt="Logo" class="logo-img col">
                    <div class="logo-title col">KSPI <br>Shartnomalar</div>
                </a>
                <div class="btn-group">
                    <button class="btn dropdown-toggle p-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img class="account-img" src="{% static '/img/account.png' %}" alt="Account" width="48">
                        <span>{{user.last_name}} {{user.first_name}}</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="#">{{user.last_name}} {{user.first_name}}</a></li>                        
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Chiqish <img src="{% static '/img/logout.svg' %}" alt="Chiqish" width="20"></a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    
    
    
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container">
            <!-- AMALIYOT -->
            <div class="amaliyot">             
                <!-- FORM -->
                <form method="POST" class="amaliyot-form row g-3 needs-validation mt-2" novalidate>
                    {% csrf_token %}
                    <h4 class="amaliyot-title text-center">Amaliyot o'tash joyini yangilash</h4>
                    <div class="address-info row">
                    
                        <div class="col-md-4 col-sm-6 mb-2">
                            <label for="region" class="form-label">Viloyat</label>
                            <select name="viloyat_a" id="region" class="form-select" size="1" required aria-label="select example">
                                <option selected="selected" value="" disabled>Viloyat</option>
                            </select>
                            <div class="invalid-feedback">
                                Viloyatni tanlang.!
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-2">
                            <label for="district" class="form-label">Tuman</label>
                            <select name="tuman_a" id="district" class="form-select col-md-4" size="1" required aria-label="select example">
                                <option selected="selected" value="" disabled>Tuman</option>
                            </select>
                            <div class="invalid-feedback">
                                Tumanni tanlang.!
                            </div>
                        </div>                        
                        <div class="col-md-4 mb-2">
                            <label for="street" class="form-label">Ko'cha va uy raqami</label>
                            <input name="kocha_uy_a" type="text" id="street"  class="form-control" placeholder="Ko'cha va uy raqami" required>
                            <div class="invalid-feedback">
                                Ko'cha va uy raqamini kiriting.!
                            </div>
                        </div>
                        <div class="col-md-4 mb-2">
                            <label for="validationCustom01" class="form-label">Muassasa nomi</label>
                            <input name="muassasa" type="text" class="form-control" id="validationCustom01" placeholder="29-umumiy o'rta ta'lim maktabi" required>
                            <div class="invalid-feedback">
                                Muassasa nomini to'liq kiriting.!
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-2">
                            <label for="validationCustom02" class="form-label">Direktor F.I.Sh</label>
                            <input name="d_ism" type="text" class="form-control" id="validationCustom02" placeholder="Familiya Ism Sharif" required>
                            <div class="invalid-feedback">
                                Direktor familiya, ismi, sharifini kiriting.!
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-2">
                            <label for="validationCustom03" class="form-label">Telefon raqami</label>
                            <input name="d_nomeri" type="text" class="form-control" id="validationCustom03" data-mdb-input-mask="+998 90 000 00 00" placeholder="+998 (Telefon raqam)" required>
                            <div class="invalid-feedback">
                                Telefon raqamini kiriting.!
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-2">
                            <label for="kurs" class="form-label">Kursingizni tanlang</label>
                            <select name="kurs" id="kurs" class="form-select" size="1" aria-label="select example" required>
                                <option selected="selected" value="" disabled>Nechanchi kurs</option>
                                <option value="" disabled>1-kurs</option>
                                <option value="">2-kurs</option>
                                <option value="">3-kurs</option>
                                <option value="">4-kurs</option>
                            </select>
                            <div class="invalid-feedback">
                                Kursingizni tanlang.!
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-2">
                            <label for="validationCustom04" class="form-label">Tashkilotdagi amaliyot rahbari F.I.Sh</label>
                            <input name="a_rahbari" type="text" class="form-control" id="validationCustom04" placeholder="Familiya Ism Sharif" required>
                            <div class="invalid-feedback">
                                Amaliyot o'tash joyi(korxona, tashkilot)dagi amaliyot rahbari ismini kiriting.!
                            </div>
                        </div>                  
                        <div class="col-md-4 col-sm-6 mb-2">
                            <label for="validationCustom05" class="form-label">OTMdagi amaliyot rahbari F.I.Sh</label>
                            <input name="o_a_rahbari" type="text" class="form-control" id="validationCustom05" placeholder="Familiya Ism Sharif" required>
                            <div class="invalid-feedback">
                                OTMdan biriktirilgan amaliyot rahbari ismini kiriting.!
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 mb-2">
                            <label for="amaliyot" class="form-label">Amaliyot turi</label>
                            <select name="a_turi" id="amaliyot" class="form-select" aria-label="select example" required>
                                <option selected="selected" value="" disabled>Amaliyot turini tanlang</option>
                                <option>Malakaviy-o'quv amaliyoti</option>
                                <option>Amaliy</option>
                            </select>
                            <div class="invalid-feedback">
                                Amaliyot turini tanlang.!
                            </div>
                        </div>                 
                                        
                    </div>
            
            
                    <!-- BUTTON -->
                    <div class="col-12 text-center mb-4">
                        <button class="btn btn-primary col-md-4 col-12 text-center" type="submit">Saqlash</button>
                    </div>
                    <!-- End BUTTON -->
                </form>

            </div>
        </div>

    </div>
    
    <!-- FOOTER -->
    <footer>
        <div class="container">
            <div class="row py-5">
                <div class="col-lg-4 col-md-12">
                    <div class=" row logo mb-4">
                        <div class="col-2">
                            <span class="img-bg">
                                <img src="{% static '/img/kspi-logo.png' %}" alt="kspi logotip">
                            </span>
                        </div>
                        <h5 class="col-9">shartnoma.kspi.uz</h5>
                    </div>
                    <p>"Talabalarning o'quv amaliyoti uchun shartnoma olish axborot tizimi" dasturiy majmuasi</p>
                </div>
                <div class="col-lg-4 col-md-6 connect">
                    <h4>Bog'lanish</h4>
                    <p>Ishonch telefoni: +998(90) 567 12 75</p>
                    <p>Qo'qon shahar, Turon ko'chasi, 23-uy</p>
                    <a href="https://kspi.uz/">www.kspi.uz</a>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h4>Bizning ijtimoiy tarmoqlar</h4>
                    <a href="https://www.facebook.com/kspi.uz.56" class="socials">
                        <i class="fa-brands fa-facebook"></i>
                        <p>Facebook</p>
                    </a>
                    <a href="https://t.me/kspi_official" class="socials">
                        <i class="fa-brands fa-telegram"></i>
                        <p>Telegram</p>
                    </a>
                    <a href="https://www.instagram.com/kspi_uz/" class="socials">
                        <i class="fa-brands fa-instagram"></i>
                        <p>Instagram</p>
                    </a>
                    <a href="https://www.youtube.com/channel/UC6ThR8cLnJmdWDGDz9PR85Q/featured" class="socials">
                        <i class="fa-brands fa-youtube"></i>
                        <p>YouTube</p>
                    </a>
                </div>
                
            </div>
        </div>
        <div class="by">
            <h5>2023 &#169 QDPI IT-park</h5>
        </div>
    </footer>
    
    {% endif %}
    <!-- BOOTSTRAP-JAVASCRIPT -->
    <script src="{% static '/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
        
    <!-- JAVASCRIPT -->
    <script src="{% static '/js/amaliyot.js' %}"></script>
    
</body>
</html>