{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shartnoma</title>
    <link rel="icon" type="image/x-icon" href="{% static '/img/kspi-logo.png' %}">
</head>
<body>
   
    <div style="max-width: 21cm; margin-left:0.7cm;margin-right:0.3cm;">
        

        <table style="width:537.0pt;border-collapse:collapse;border:none;text-align :center; margin-left:auto;margin-right:auto;">
            <tbody>

                <tr>
                    <td style="width:137.0pt;">
                        <div style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:top;text-indent:10.2pt;'>
                            <img width="200px" height="250px" src="https://bazaima.uz/uploads/1709896475.jpg" alt="">
                            
                        </div>
                    </td>
                    <td ">
                        <div style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:top;text-indent:10.2pt;'>
                            <h1>Botirov Muzaffarjon Mansurovich</h1>
                            <h3>Raqamli texnologiyalar va matematika kafedrasi</h3>
                            <p>
                                <strong>
                                    Tug‘ilgan yil: 1989-02-15
                                </strong>
                            </p>
                            <p>
                                <strong>
                                    Tug‘ilgan joy: Farg‘ona viloyati, O`zbekiston tumani, Ko`l Elash qishlog`i 25-uy
                                </strong>
                            </p>
                            <p>
                                <strong>
                                    Ma’lumoti: O‘rta
                                </strong>
                            </p>
                            <p>
                                <strong>
                                    Ilmiy daraja: -
                                </strong>
                            </p>
                            <p>
                                <strong>
                                    Ilmiy unvoni: -
                                </strong>
                            </p>

                            

                        </div>
                    </td>
                            
                </tr>    
                <tr>
                    <td style="width:137.0pt;">
                        <div style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:top;text-indent:10.2pt;'>
                            
                            <h1>Bog‘lanish</h1>
                        </div>
                    </td>
                    <td ">
                        <div style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:top;text-indent:10.2pt;'>
                           

                            <h1>ISH TAJRIBA</h1>

                            <p>
                                <strong>
                                    QO‘QON UNIVERSITETI RAQAMLI TEXNOLOGIYALAR VA MATEMATIKA KAFEDRASI O‘QITUVCHISI
                                </strong>
                                <br>
                                02/2024 - Hozirgi vaqtga qadar
                            </p>
                            <p>
                                <strong>
                                    QO‘QON DAVLAT PEDAGOGIKA INSTITUTI INFORMATIKA KAFEDRASI ASSISTENT-O‘QITUVCHISI
                                </strong>
                                <br>
                                08/2021 - 02/2024
                            </p>
                            <p>
                                <strong>
                                    QO‘QON DAVLAT PEDAGOGIKA INSTITUTI MATEMATIKA -INFORMATIKA KAFEDRASI ASSISTENT-O‘QITUVCHISI
                                </strong>
                                <br>
                                08/2020 - 08/2021
                            </p>
                            <p>
                                <strong>

                                </strong>
                                <br>
                            </p>
                            <p>
                                <strong>

                                </strong>
                                <br>
                            </p>
                            <p>
                                <strong>

                                </strong>
                                <br>
                            </p>
                            <p>
                                <strong>

                                </strong>
                                <br>
                            </p>
                            <p>
                                <strong>

                                </strong>
                                <br>
                            </p>
                            <p>
                                <strong>

                                </strong>
                                <br>
                            </p>

                        </div>
                    </td>
                              
                </tr>          
                
            </tbody>
        </table>   
        
       
        

        

        <table style="width:537.0pt;border-collapse:collapse;border:none;text-align :center; margin-left:auto;margin-right:auto;">
            <tbody>
                <tr>
                    <td><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>"Oliy ta`lim muassasasi" <br> </strong></td>
                    <td><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>"Qabul qiluvchi muassasa"</strong></td>
                    <td><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>"Amaliyotchi talaba"</strong></td>                    
                </tr>
                <tr>
                    <td style="text-align: left;">Muqumiy nomidagi QDPI</td>
                    <td style="text-align: left;">{{p.amaliyot_joyi}}</td>
                    <td style="text-align: left;">{{p.talaba_f_i_sh}}</td>
                </tr>
                <tr>
                    <td style="text-align: left;"><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>Manzil: </strong> 150700 Qo`qon shahar Turon ko`chasi 23-uy.</td>
                    <td style="text-align: left;"><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>Manzil: </strong>{{p.amaliyot_manzili}}</td>
                    <td style="text-align: left;"><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>Manzil: </strong>{{p.talaba_manzil}} </td>
                </tr>
                <tr>
                    <td style="text-align: left;"><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>Telefon: </strong> (0373) 542-38-38</td>
                    <td style="text-align: left;"><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>Telefon: </strong>{{p.derektor_nomer}}</td>
                    <td style="text-align: left;"><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>Telefon: </strong>{{p.talaba_nomer}}</td>
                </tr>
                <tr>
                    <td>
                       
                    </td>
                    <td style="text-align: left;"><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>Imzo: </strong>____________</td>
                    <td style="text-align: left;"><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>Imzo: </strong>____________</td>
                </tr>
                <tr>
                    <td></td>
                    <td style="text-align: left;"><strong style='margin:0cm;margin-bottom:.0001pt;font-size:12px;font-family:"Times New Roman",serif;text-align:justify;text-indent:10.2pt;'>M.O` </strong></td>
                    <td style="text-align: left;"></td>
                </tr>
            </tbody>
        </table>   

       

    </div>
    
    
</body>
</html>